.expo/
node_modules/
dist/
android/.gradle/
android/app/build/
android/local.properties
ios/Pods/
ios/build/
*.log
.DS_Store
!android/gradle/wrapper/gradle-wrapper.jar
!android/gradle/wrapper/gradle-wrapper.properties
!android/gradlew
!android/gradlew.bat
